#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
.container {
  width:960px;
  margin:0 auto;
}
.content-wrap {
  margin-top:20px;
}
.header {
  background:#f3f3f3;
}
.uk-navbar-container:not(.uk-navbar-transparent){
  background:transparent;
}
@media (max-width:1100px){
  .container {
    width:767px;
    margin:0 auto;
  }
}

@media (max-width:900px){
  .container {
    width:100%;
    margin:0 auto;
  }
}